body{
  background: white;
  background-image: url(img/supermarket.jpeg);
  background-size: 100%;
}


h3{
  margin-top: 40px;
  color: black;
}

.itemText {
  color:black;
  text-align: center;
  font-family: sans-serif, 'Times New Roman', Times, serif;
}

li {
  color: black;
  list-style: none;
}

.departmentChoices {
  margin-left: 37%;
}

.mainContainer {
  /* margin-left: 37%; */
  margin-left: 6%;
  margin-right: auto;
  background-color: rgb(245,245,245);
  width: 85%;
  border-radius: 10px;
  box-shadow: 10px 5px 5px black;
  background-color: rgb(227,218,201);
  
}

.mainContainer input {
  /* margin-left: 34%; */
  margin-top: 1%;
}

.departmentSection {
  border: 2px solid black;
  width: 20%;
  height: auto; 
  border-radius: 10px;
  margin-right: 1%;
  box-shadow: 8px 5px 5px black;
  
  
}

.departmentSection h3 {
  text-align: center;
  margin-top: 1%;
  font-family: sans-serif, 'Times New Roman', Times, serif;
}

.departmentTxt {
  margin-left: 16%;
  font-family: sans-serif, 'Times New Roman', Times, serif;
}

.messages {
  display: flex;
  flex-direction: row;
}

/* .messages span {
  display: flex;
  flex-direction: row;
}
  */
header h1 {
  
  margin-left: 40%;
  font-family: sans-serif, 'Times New Roman', Times, serif;
  font-size: 50px;
  color: rgb(227,218,201);
}

header h2 {
  margin-left: 39%;
  margin-right: auto;
  font-family: sans-serif, 'Times New Roman', Times, serif;
  color: rgb(227,218,201);
  font-size: 25px;
} 

.checkgreen {
  color: black;
  
}

.checkblack {
  color: red;

}

.strikethrough {
  text-decoration: line-through;
  margin-left: 18%;
  font-family: sans-serif, 'Times New Roman', Times, serif;
}

.editForm {
  display: none;
  margin-left: 4%;
}
